.base-wrapper {
  background-color: #efefef;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  max-width: 400px;
  margin: 85px auto 20px auto;
  padding: 15px;
}
.base-wrapper h1 {
  text-align: center;
  margin-top: 5px;
}
.base-wrapper button {
  margin: 0px auto 8px auto;
}
#reset-wrapper {
  background-color: #efefef;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  max-width: 400px;
  margin: 85px auto 20px auto;
  padding: 15px;
}
#reset-wrapper h1 {
  text-align: center;
  margin-top: 5px;
}
#reset-wrapper button {
  margin: 0px auto 8px auto;
}
#reset-wrapper input {
  margin-bottom: 8px;
}
#reset-wrapper #pass-reset-btn {
  width: 100%;
}
